In [1]:
import pandas as pd
from pathlib import Path

In [17]:
ODpath = Path("../data/OD/")
OD_file = ODpath.joinpath("06_od_distance_1k.csv.gz")
if OD_file.exists ():
    print ("OD file exist")
else:
    print ("OD file does not exist")

OD file exist

In [18]:
%time df = pd.read_csv(OD_file, compression='gzip', dtype={'w_geocode': str,'h_geocode':str})

Wall time: 24 s

In [19]:
df.head()

,w_geocode,h_geocode,distance,w_group_count,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,w_lat,w_lon,h_lat,h_lon,state
0,060014010001002,060014001001027,4636,2994,1,0,0,1,0,1,0,0,0,1,37.837,-122.268,37.865,-122.228,6
1,060014010001002,060014001001036,4214,2994,2,0,1,1,0,0,2,0,0,2,37.837,-122.268,37.860,-122.229,6
2,060014010001002,060014001001045,4437,2994,1,0,0,1,0,0,1,0,0,1,37.837,-122.268,37.858,-122.224,6
3,060014010001002,060014001001049,3693,2994,1,0,0,1,0,0,1,0,0,1,37.837,-122.268,37.856,-122.233,6
4,060014010001002,060014001001054,4116,2994,1,0,1,0,0,0,1,0,0,1,37.837,-122.268,37.855,-122.226,6

#### Group by the w_geocode and check for block records > 10,000

In [20]:
df_group = df.groupby(['w_geocode']).sum()

In [21]:
df_group.S000.max()

71280