In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import zipfile
import timeit
from IPython.display import clear_output

In [2]:
ODpath = Path("../data/OD/")
OD_file = ODpath.joinpath("od_aux_1k.csv.gz")
if OD_file.exists ():
    print ("OD file exist")
else:
    print ("OD file does not exist")
    
blockPath = Path("../data/blocks/")
block_file = blockPath.joinpath("block_centroids.csv.gz")
if block_file.exists ():
    print ("Block Centroid file exist")
else:
    print ("Block Centroid file does not exist")

OD file exist
Block Centroid file exist

In [3]:
%time df = pd.read_csv(OD_file, compression='gzip', dtype={'w_geocode': str,'h_geocode':str})

Wall time: 4min 36s

In [4]:
df_group = df.groupby(['w_geocode']).sum()
df_group_limited = df_group[(df_group['S000'] >= 1000)]

In [5]:
df_group_limited.head()

                 S000  SA01  SA02  SA03  SE01  SE02  SE03  SI01  SI02  SI03
w_geocode
010010205001001  1100   536   426   138   534   412   154    13   540   547
010030107032109  1009   498   406   105   517   332   160     0   584   425
010030112023027  1088   173   656   259    93   413   582     0     0  1088
010030115021041  1280   560   522   198   719   397   164     0   805   475
010059505002038  1448   432   793   223   105  1020   323  1448     0     0

In [6]:
df_group_limited.S000.max()

71373

In [7]:
df2 = pd.merge(df, df_group_limited, on='w_geocode', suffixes=('','_del'))

In [8]:
df2.head()

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,...,S000_del,SA01_del,SA02_del,SA03_del,SE01_del,SE02_del,SE03_del,SI01_del,SI02_del,SI03_del
0,020160002001050,020160001001250,3,0,1,2,0,2,1,2,...,1530,257,924,349,599,522,409,1189,308,33
1,020160002001050,020160001001270,1,0,1,0,0,0,1,1,...,1530,257,924,349,599,522,409,1189,308,33
2,020160002001050,020160001001453,1,1,0,0,0,1,0,1,...,1530,257,924,349,599,522,409,1189,308,33
3,020160002001050,020160001001461,1,1,0,0,0,1,0,0,...,1530,257,924,349,599,522,409,1189,308,33
4,020160002001050,020160001001475,1,0,1,0,0,1,0,1,...,1530,257,924,349,599,522,409,1189,308,33

In [ ]:
# keep the sum of the S000 to use in later filtering
df2.rename(columns={'S000_del': 'w_group_count'}, inplace=True)
df2.drop(list(df2.filter(regex='_del')), axis=1, inplace=True)

In [9]:
outputPath = Path("../data/OD/")
outputPath.mkdir(exist_ok=True, parents=True)

#### Name zip file

In [10]:
outputZip = 'od_aux_1k.csv.gz'

#### Create full path with zip file

In [11]:
out_Zip = outputPath.joinpath(outputZip)