In [1]:
import pandas as pd
from pathlib import Path

In [2]:
ODpath = Path("../data/OD/")
OD_file = ODpath.joinpath("od_distance_1000_plus.csv.gz")
if OD_file.exists ():
    print ("OD file exist")
else:
    print ("OD file does not exist")

OD file exist

In [3]:
df = pd.read_csv(OD_file, dtype={'w_geocode': str,'h_geocode':str, 'w_group_count':str})

In [4]:
df.head()

,w_geocode,h_geocode,distance,w_group_count,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,w_lat,w_lon,h_lat,h_lon
0,010010205001001,010010201001016,5896,1076,1,1,0,0,1,0,0,0,1,0,32.45674,-86.41503,32.46662,-86.47665
1,010010205001001,010010201001025,6964,1076,1,1,0,0,0,1,0,0,1,0,32.45674,-86.41503,32.45980,-86.48900
2,010010205001001,010010201002016,7088,1076,2,0,2,0,0,0,2,0,2,0,32.45674,-86.41503,32.47418,-86.48756
3,010010205001001,010010201002017,6830,1076,3,3,0,0,1,2,0,0,1,2,32.45674,-86.41503,32.47724,-86.48353
4,010010205001001,010010201002022,7304,1076,1,0,1,0,0,1,0,0,1,0,32.45674,-86.41503,32.48800,-86.48342

In [5]:
state_list = df['w_geocode'].str.slice(0,2).unique().tolist()
print (len(state_list))

48

#### Create a column to contain the state FIPS

In [6]:
df['state'] = df['w_geocode'].str.slice(0,2)

In [7]:
len(df)

28588823

#### Verify the lat lon columns are float

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28588823 entries, 0 to 28588822
Data columns (total 19 columns):
w_geocode        object
h_geocode        object
distance         int64
w_group_count    object
S000             int64
SA01             int64
SA02             int64
SA03             int64
SE01             int64
SE02             int64
SE03             int64
SI01             int64
SI02             int64
SI03             int64
w_lat            float64
w_lon            float64
h_lat            float64
h_lon            float64
state            object
dtypes: float64(4), int64(11), object(4)
memory usage: 4.0+ GB

#### Reduce the precision on the lat & lon columns

In [10]:
df.w_lat =  df.w_lat.map(lambda x: '%.3f' % x)
df.w_lon =  df.w_lon.map(lambda x: '%.3f' % x)
df.h_lat =  df.h_lat.map(lambda x: '%.3f' % x)
df.h_lon =  df.h_lon.map(lambda x: '%.3f' % x)

In [11]:
df.head()

,w_geocode,h_geocode,distance,w_group_count,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,w_lat,w_lon,h_lat,h_lon,state
0,010010205001001,010010201001016,5896,1076,1,1,0,0,1,0,0,0,1,0,32.457,-86.415,32.467,-86.477,01
1,010010205001001,010010201001025,6964,1076,1,1,0,0,0,1,0,0,1,0,32.457,-86.415,32.460,-86.489,01
2,010010205001001,010010201002016,7088,1076,2,0,2,0,0,0,2,0,2,0,32.457,-86.415,32.474,-86.488,01
3,010010205001001,010010201002017,6830,1076,3,3,0,0,1,2,0,0,1,2,32.457,-86.415,32.477,-86.484,01
4,010010205001001,010010201002022,7304,1076,1,0,1,0,0,1,0,0,1,0,32.457,-86.415,32.488,-86.483,01

#### Name zip file

In [12]:
outputZip = 'od_distance_1k.csv.gz'

#### Create full path with zip file

In [13]:
out_Zip = ODpath.joinpath(outputZip)

#### Write all the OD line data to compressed csv file

In [15]:
print ('Compressing dataframe. Please be patient.')
df.to_csv(out_Zip, compression='gzip', index=None)

Compressing dataframe. Please be patient.

In [18]:
df.w_group_count.max()

'9936'

In [19]:
df.columns

Index(['w_geocode', 'h_geocode', 'distance', 'w_group_count', 'S000', 'SA01',
       'SA02', 'SA03', 'SE01', 'SE02', 'SE03', 'SI01', 'SI02', 'SI03', 'w_lat',
       'w_lon', 'h_lat', 'h_lon', 'state'],
      dtype='object')

In [20]:
df_limited = df.filter(['state','S000', 'SA01','SA02', 'SA03', 'SE01', 'SE02', 'SE03', 'SI01', 'SI02', 'SI03'])

In [21]:
df_limited.head()

  state  S000  SA01  SA02  SA03  SE01  SE02  SE03  SI01  SI02  SI03
0    01     1     1     0     0     1     0     0     0     1     0
1    01     1     1     0     0     0     1     0     0     1     0
2    01     2     0     2     0     0     0     2     0     2     0
3    01     3     3     0     0     1     2     0     0     1     2
4    01     1     0     1     0     0     1     0     0     1     0

In [22]:
df_group = df_limited.groupby(['state']).sum()
print ('\nrecords loaded to dataframe:', "{:,}".format(len(df_group)),'\n\n')

records loaded to dataframe: 48

In [23]:
df_group.head()

,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03
state,,,,,,,,,,
01,305768,59392,181488,64888,34799,100547,170422,64086,29681,212001
04,930733,181041,542204,207488,133390,308694,488649,92906,140015,697812
05,209617,38695,123764,47158,25289,80695,103633,35331,21535,152751
06,4821130,874375,2898970,1047785,558764,1170881,3091485,648915,680890,3491325
08,679824,114957,409071,155796,80842,184581,414401,58966,69583,551275