In [1]:
import pandas as pd
import geopandas as gp
import fiona
import shapely.geometry as geom

from pathlib import Path

#### Create the ??\_od_distance\_1000\_plus.csv file first using "write_state_csv.ipynb"

In [2]:
ODpath = Path("../data/OD/")
OD_file = ODpath.joinpath("od_distance_1k-15k_15-60_miles.csv")
if OD_file.exists ():
    print ("OD file exist")
else:
    print ("OD file does not exist")

OD file exist

In [3]:
df = pd.read_csv(OD_file, dtype={'w_geocode': str,'h_geocode':str, 'w_group_count':str})

print ('\nThe number of records:', "{:,}".format(len(df)),'\n\n')

The number of records: 8,385,215

#### Create a LineString geometry, Drop home location columns

In [ ]:
df['geometry'] = df.apply(lambda x: geom.LineString([(x['w_lon'], x['w_lat'] ), (x['h_lon'],x['h_lat'])]), axis = 1)

df.drop(['h_lat', 'h_lon', 'w_group_count', 'w_lat', 'w_lon'],axis=1, inplace=True)

df.head(3)

#### Build Age DataFrames & Process to geoDataFrames

In [12]:
age1 = df[df['SA01'] >= 1 ]

print ('\nThe number of records:', "{:,}".format(len(age1)),'\n\n')

The number of records: 1,618,594

In [28]:
age1_short = df[(df['SA01'] >= 1) & (df['distance'] < 32000)]

print ('\nThe number of records:', "{:,}".format(len(age1_short)),'\n\n')

The number of records: 519,278

In [29]:
age1_med = df[(df['SA01'] >= 1) & ((df['distance'] >= 32000) & (df['distance'] < 46000))]

print ('\nThe number of records:', "{:,}".format(len(age1_med)),'\n\n')

The number of records: 492,892

In [30]:
age1_long = df[(df['SA01'] >= 1) & (df['distance'] >= 46000)]

print ('\nThe number of records:', "{:,}".format(len(age1_long)),'\n\n')

The number of records: 606,424

In [35]:
age1_shorts = age1_short.drop(['S000', 'SA01', 'SA02', 'SA03', 'SE01', 'SE02', 'SE03', 'SI01', 'SI02', 'SI03','w_geocode', 'h_geocode','state','distance'],axis=1)

                                             geometry
1   LINESTRING (-86.41500000000001 32.457, -86.572...
2   LINESTRING (-86.41500000000001 32.457, -86.581...
7   LINESTRING (-86.41500000000001 32.457, -86.486...
8   LINESTRING (-86.41500000000001 32.457, -86.474...
11  LINESTRING (-86.41500000000001 32.457, -86.691...

In [37]:
gdf_age1_short = gp.GeoDataFrame(age1_shorts, geometry='geometry')

In [38]:
output = 'age1_short.json'
out_path_file = ODpath.joinpath(output)
gdf_age1_short.to_file(out_path_file, index=None, driver='GeoJSON')
print ('\nThe number of written to',output,':', "{:,}".format(len(gdf_age1_short)),'\n\n')

The number of written to age1_short.json : 519,278

In [39]:
output = 'age1_short.csv'
out_path_file = ODpath.joinpath(output)
age1_shorts.to_csv(out_path_file, index=None)
print ('\nThe number of written to',output,':', "{:,}".format(len(gdf_age1_short)),'\n\n')

The number of written to age1_short.csv : 519,278

In [24]:
age1_meds = age1_med.(['geometry'],axis=1)
age1_longs = age1_long.drop(['S000', 'SA01', 'SA02', 'SA03', 'SE01', 'SE02', 'SE03', 'SI01', 'SI02', 'SI03'],axis=1)

In [25]:
gdf_age1_medium = gp.GeoDataFrame(age1_meds, geometry='geometry')
gdf_age1_long = gp.GeoDataFrame(age1_longs, geometry='geometry')

In [26]:
output = 'age1_medium.json'
out_path_file = ODpath.joinpath(output)
gdf_age1_medium.to_file(out_path_file, index=None, driver='GeoJSON')
print ('\nThe number of written to',output,':', "{:,}".format(len(gdf_age1_medium)),'\n\n')

output = 'age1_long.json'
out_path_file = ODpath.joinpath(output)
gdf_age1_long.to_file(out_path_file, index=None, driver='GeoJSON')
print ('\nThe number of written to',output,':', "{:,}".format(len(gdf_age1_long)),'\n\n')

C:\Users\mdcr226\AppData\Local\Continuum\anaconda3\envs\sandbox\lib\site-packages\geopandas\io\file.py:108: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():

The number of written to age1_short.json : 519,278



The number of written to age1_medium.json : 492,892



The number of written to age1_long.json : 606,424

In [34]:
gdf_age1_medium.head()

,w_geocode,h_geocode,distance,state,geometry
10,010010205001001,010010210002037,34627,1,"LINESTRING (-86.41500000000001 32.457, -86.687..."
17,010010205001001,010010211002037,35901,1,"LINESTRING (-86.41500000000001 32.457, -86.795..."
40,010010205001001,010210601014019,44321,1,"LINESTRING (-86.41500000000001 32.457, -86.598..."
51,010010205001001,010210606001001,43608,1,"LINESTRING (-86.41500000000001 32.457, -86.672..."
52,010010205001001,010210606001026,41422,1,"LINESTRING (-86.41500000000001 32.457, -86.702..."

In [5]:
age2 = df[df['SA02'] >= 1]

age3 = df[df['SA03'] >= 1]

gdf_age1 = gp.GeoDataFrame(age1, geometry='geometry')

gdf_age2 = gp.GeoDataFrame(age2, geometry='geometry')

gdf_age3 = gp.GeoDataFrame(age3, geometry='geometry')

output = 'age1_1k-15k_15-60_miles.json'
out_path_file = ODpath.joinpath(output)
gdf_age1.to_file(out_path_file, index=None, driver='GeoJSON')
print ('\nThe number of written to',output,':', "{:,}".format(len(gdf_age1)),'\n\n')

output = 'age2_1k-15k_15-60_miles.json'
out_path_file = ODpath.joinpath(output)
gdf_age2.to_file(out_path_file, index=None, driver='GeoJSON')
print ('\nThe number of written to',output,':', "{:,}".format(len(gdf_age2)),'\n\n')

output = 'age3_1k-15k_15-60_miles.json'
out_path_file = ODpath.joinpath(output)
print ('\nThe number of written to',output,':', "{:,}".format(len(gdf_age3)),'\n\n')

The number of records: 1,618,594



The number of records: 5,154,289



The number of records: 1,935,850



The number of records in geo dataframe: 1,618,594



The number of records in geo dataframe: 5,154,289



The number of records in geo dataframe: 1,935,850

C:\Users\mdcr226\AppData\Local\Continuum\anaconda3\envs\sandbox\lib\site-packages\geopandas\io\file.py:108: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():

#### Build Earnings DataFrames & Process to geoDataFrames

In [6]:
earn1 = df[df['SE01'] >= 1]

earn2 = df[df['SE02'] >= 1]

earn3 = df[df['SE03'] >= 1]

gdf_earn1 = gp.GeoDataFrame(earn1, geometry='geometry')
print ('\nThe number of records in geo dataframe:', "{:,}".format(len(gdf_earn1)),'\n')

gdf_earn2 = gp.GeoDataFrame(earn2, geometry='geometry')
print ('\nThe number of records in geo dataframe:', "{:,}".format(len(gdf_earn2)),'\n')

gdf_earn3 = gp.GeoDataFrame(earn3, geometry='geometry')
print ('\nThe number of records in geo dataframe:', "{:,}".format(len(gdf_earn3)),'\n')

output = 'earn1_1k-15k_15-60_miles.json'
out_path_file = ODpath.joinpath(output)
gdf_earn1.to_file(out_path_file, index=None, driver='GeoJSON')

output = 'earn2_1k-15k_15-60_miles.json'
out_path_file = ODpath.joinpath(output)
gdf_earn2.to_file(out_path_file, index=None, driver='GeoJSON')

output = 'earn3_1k-15k_15-60_miles.json'
out_path_file = ODpath.joinpath(output)
gdf_earn3.to_file(out_path_file, index=None, driver='GeoJSON')

The number of records in geo dataframe: 1,029,826


The number of records in geo dataframe: 2,232,490


The number of records in geo dataframe: 5,363,354

#### Build Industry DataFrames & Process to geoDataFrames

In [7]:
ind1 = df[df['SI01'] >= 1]

ind2 = df[df['SI02'] >= 1]

ind3 = df[df['SI03'] >= 1]

gdf_ind1 = gp.GeoDataFrame(ind1, geometry='geometry')
print ('\nThe number of records in geo dataframe:', "{:,}".format(len(gdf_ind1)),'\n')

gdf_ind2 = gp.GeoDataFrame(ind2, geometry='geometry')
print ('\nThe number of records in geo dataframe:', "{:,}".format(len(gdf_ind2)),'\n')

gdf_ind3 = gp.GeoDataFrame(ind3, geometry='geometry')
print ('\nThe number of records in geo dataframe:', "{:,}".format(len(gdf_ind3)),'\n')

output = 'ind1_1k-15k_15-60_miles.json'
out_path_file = ODpath.joinpath(output)
gdf_ind1.to_file(out_path_file, index=None, driver='GeoJSON')

output = 'ind2_1k-15k_15-60_miles.json'
out_path_file = ODpath.joinpath(output)
gdf_ind2.to_file(out_path_file, index=None, driver='GeoJSON')

output = 'ind3_1k-15k_15-60_miles.json'
out_path_file = ODpath.joinpath(output)
gdf_ind3.to_file(out_path_file, index=None, driver='GeoJSON')

The number of records in geo dataframe: 1,183,526


The number of records in geo dataframe: 1,347,376


The number of records in geo dataframe: 5,928,661

In [8]:

print ('\nThe number of written to',output,':', "{:,}".format(len(gdf_ind3)),'\n\n')

The number of written to ind3_1k-15k_15-60_miles.json : 5,928,661