In [1]:
import pandas as pd
from pathlib import Path

In [2]:
ODpath = Path("../data/OD/")
OD_file = ODpath.joinpath("21_od_distance_1000_plus.csv.gz")
if OD_file.exists ():
    print ("OD file exist")
else:
    print ("OD file does not exist")

OD file exist

In [3]:
df = pd.read_csv(OD_file, dtype={'w_geocode': str,'h_geocode':str, 'w_group_count':str})
len(df)

In [4]:
df.head()

,w_geocode,h_geocode,distance,w_group_count,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,w_lat,w_lon,h_lat,h_lon,state
0,210099505002000,210019702001066,55447,1212,1,0,1,0,0,0,1,0,0,1,37.0108,-85.90684,37.16855,-85.31508,21
1,210099505002000,210019702001086,47802,1212,1,0,1,0,0,0,1,0,0,1,37.0108,-85.90684,37.13799,-85.39325,21
2,210099505002000,210019703001021,73360,1212,1,0,1,0,0,0,1,0,0,1,37.0108,-85.90684,37.17078,-85.10622,21
3,210099505002000,210019703001030,62186,1212,2,1,1,0,0,1,1,0,0,2,37.0108,-85.90684,37.15698,-85.23166,21
4,210099505002000,210019703002035,63240,1212,1,0,1,0,0,1,0,0,0,1,37.0108,-85.90684,37.08517,-85.20200,21

In [21]:
unzip_file=ODpath.joinpath("21_od_distance_1000_plus.csv")
df_filter = df[(df['distance'] <= 100000)]
df_filter.to_csv(unzip_file, index=None, float_format='%.3f')

278282

In [7]:
state_id = '21'
outputstate = state_id + '_latlng_1000_plus.csv'
#outputstate = state_id + '_latlng.csv.gz'
out_state = ODpath.joinpath(outputstate)

In [8]:
df_all = df.drop(['w_geocode','h_geocode','distance','S000','SA01','SA02','SA03','SE01','SE02','SE03','SI01','SI02','SI03','state'],axis=1)
df_all.to_csv(out_state, index=None, float_format='%.3f')
#df_all.to_csv(out_state, compression='gzip', index=None, float_format='%.3f')

#### Filter data by those earning 1,250 per month or less

In [10]:
df_limited_filter = df[(df['SE01'] > 0) & (df['distance'] <= 100000)]
df_limited_income = df_limited_filter.copy()

df_limited_income.drop(['w_geocode','h_geocode','w_group_count','S000','SA01','SA02','SA03','SE01','SE02','SE03','SI01','SI02','SI03','state'],axis=1, inplace=True)
print('Length of dataframe:',"{:,}".format(len(df_limited_income)),'\n')

Length of dataframe: 42,498

In [11]:
df_limited_income.distance =  df_limited_income.distance.map(lambda x: '%.0f' % x)

In [12]:
df_limited_income.head()

    distance    w_lat     w_lon     h_lat     h_lon
40     19511  37.0108 -85.90684  37.15453 -85.78048
74      4217  37.0108 -85.90684  37.04357 -85.93083
85     14411  37.0108 -85.90684  37.13879 -85.93423
120    13332  37.0108 -85.90684  37.10432 -86.00092
121    10171  37.0108 -85.90684  37.08299 -85.97727

In [13]:
state_id = '21'
outputstate = state_id + '_latlng_low_income_1000_plus.csv'
#outputstate = state_id + '_latlng_low_income.csv.gz'
out_state = ODpath.joinpath(outputstate)
df_limited_income.to_csv(out_state, index=None, float_format='%.3f')
#df_limited_income.to_csv(out_state, compression='gzip', index=None, float_format='%.3f')

#### Filter data by those earning more than 1,250 and less than 3,333 per month

In [14]:
df_limited_income = df[(df['SE02'] > 0) & (df['distance'] <= 100000)]
print('Length of dataframe:',"{:,}".format(len(df_limited_income)),'\n')

Length of dataframe: 102,278

In [15]:
state_id = '21'
outputstate = state_id + '_latlng_medium_income_1000_plus.csv'
#outputstate = state_id + '_latlng_medium_income.csv.gz'
out_state = ODpath.joinpath(outputstate)
df_limited_income.to_csv(out_state, index=None, float_format='%.3f')
#df_limited_income.to_csv(out_state, compression='gzip', index=None, float_format='%.3f')

#### Filter data by those earning 3,3333 per month or more

In [16]:
df_limited_income = df[(df['SE03'] > 0) & (df['distance'] <= 100000)]
print('Length of dataframe:',"{:,}".format(len(df_limited_income)),'\n')

Length of dataframe: 138,610

In [17]:
state_id = '21'
outputstate = state_id + '_latlng_high_income_1000_plus.csv'
#outputstate = state_id + '_latlng_high_income.csv.gz'
out_state = ODpath.joinpath(outputstate)
df_limited_income.to_csv(out_state, index=None, float_format='%.3f')
#df_limited_income.to_csv(out_state, compression='gzip', index=None, float_format='%.3f')