In [1]:
import pandas as pd
from pathlib import Path

In [2]:
ODpath = Path("../data/OD/")
OD_file = ODpath.joinpath("39_od_distance_1000_plus.csv.gz")
if OD_file.exists ():
    print ("OD file exist")
else:
    print ("OD file does not exist")

OD file exist

In [3]:
df = pd.read_csv(OD_file, dtype={'w_geocode': str,'h_geocode':str, 'w_group_count':str})
len(df)

995233

In [4]:
df.head()

,w_geocode,h_geocode,distance,w_group_count,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,w_lat,w_lon,h_lat,h_lon,state
0,390030126002016,390030101001039,23741,1107,1,0,1,0,0,1,0,0,0,1,40.73647,-84.08864,40.89328,-83.89739,39
1,390030126002016,390030101001050,23517,1107,1,0,1,0,0,0,1,0,0,1,40.73647,-84.08864,40.89175,-83.89912,39
2,390030126002016,390030101002001,24933,1107,1,0,1,0,0,1,0,0,0,1,40.73647,-84.08864,40.91484,-83.90913,39
3,390030126002016,390030101002041,24522,1107,1,0,0,1,0,0,1,0,0,1,40.73647,-84.08864,40.89888,-83.89171,39
4,390030126002016,390030101002042,24375,1107,1,0,1,0,0,1,0,0,0,1,40.73647,-84.08864,40.89989,-83.89576,39

#### Filter dataset to distance less than 100,000 meters and convert lat lon precision to 3

In [5]:
unzip_file=ODpath.joinpath("39_od_distance_1000_plus.csv")
df_filter = df[(df['distance'] <= 100000)]
df_filter.to_csv(unzip_file, index=None, float_format='%.3f')
len(df_filter)

887367